<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b7c75b547d.js" crossorigin="anonymous"></script>
    
    <link href="../styles/main.css" rel="stylesheet">
    <link href="../styles/boss_selection.css" rel="stylesheet">
    <script src="../scripts/script.js" defer></script>
    <title>BOSS_SELECTION</title>
</head>
<body>
    <nav class="flex-row-center-center">
        <ul class="desktop-icons">
            <li>
                <img src="../images/logo_wht.png">
                <span>LOOT TRACKER</span>
            </li>
            <!--
            <li>
                <i class="fa-solid fa-pizza-slice"></i>
                <span>OFERTA</span>
            </li>
            -->
        </ul>
        <ul class="mobile-icons">
            <li id="hamburger-menu">
                <i class="fa-solid fa-bars"></i>
                <span>MENU</span>
            </li>
        </ul>
    </nav>
    <main>
        <section>
            <!-- SECTION -->
                <p>Wybierz lub dodaj postać: </p>
            <div class="card">
                <i class="fa-solid fa-plus"></i>
                <p>Dodaj postać</p>
            </div>
            <div class="card2">
                <p>Nickname</p>
                <p>Klasa</p>
                <p>lvl</p>
                <p>Server</p>
            </div>
        </section>
        <aside>
            <h2 class="aside-title">Wybierz bossa klikając w ikonkę poziomu trudności</h2>
            <div class="boss-card">
                <img src="../images/Ivravul.png">
                <p>Ivravul</p>
                <div class="difficulty-icons">
                    <!--<img src="../images/Easy.png">-->
                    <img src="../images/Normal.png">
                    <img src="../images/Hard.png">  
                </div>    
            </div>
            <div class="boss-card">
                <img src="../images/Jaska.png">
                <p>Jaskółka</p>
                <div class="difficulty-icons">
                    <img src="../images/Easy.png">
                    <img src="../images/Normal.png">
                    <img src="../images/Hard.png">  
                </div>      
            </div>
            <div class="boss-card">
                <img src="../images/V2.png">
                <p>Konstrukt</p>
                <div class="difficulty-icons">
                    <img src="../images/Easy.png">
                    <img src="../images/Normal.png">
                    <img src="../images/Hard.png">  
                </div>      
            </div>
        </aside>
        <div class="extra">
            <h3 class="extra-title">Twój wybór:</h3>
            <div class="card-select">
                <p>Nickname</p>
                <p>Klasa</p>
                <p>lvl</p>
                <p>Server</p>
            </div>
            <div class="boss-select">
                <img src="../images/V2.png">
                <p>Konstrukt</p>
                <img src="../images/Easy.png" alt="difficulty-icon-select">
            </div>
            <div class="card-continue">
                <p>Przejdź do zbierania</p>
            </div>
        </div>
    </main>
    
</body>
</html>